<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @cover_magazine.title %>
</p>

<p>
  <b>Title html data:</b>
  <%= @cover_magazine.title_html_data %>
</p>

<p>
  <b>Release date:</b>
  <%= @cover_magazine.release_date %>
</p>

<p>
  <b>Year number:</b>
  <%= @cover_magazine.year_number %>
</p>

<p>
  <b>Sequence number:</b>
  <%= @cover_magazine.sequence_number %>
</p>

<p>
  <b>Subject:</b>
  <%= @cover_magazine.subject %>
</p>

<p>
  <b>Subject html data:</b>
  <%= @cover_magazine.subject_html_data %>
</p>

<p>
  <b>Columns:</b>
  <%= @cover_magazine.columns %>
</p>

<p>
  <b>Columns html data:</b>
  <%= @cover_magazine.columns_html_data %>
</p>

<p>
  <b>Special:</b>
  <%= @cover_magazine.special %>
</p>

<p>
  <b>Special html data:</b>
  <%= @cover_magazine.special_html_data %>
</p>

<p>
  <b>Cover html:</b>
  <%= @cover_magazine.cover_html %>
</p>

<p>
  <b>Cover css:</b>
  <%= @cover_magazine.cover_css %>
</p>

<p>
  <b>Cover js:</b>
  <%= @cover_magazine.cover_js %>
</p>


<%= link_to 'Edit', edit_cover_magazine_path(@cover_magazine) %> |
<%= link_to 'Back', cover_magazines_path %>
