<p><%= t("activerecord.attributes.basket.products") %></p><span><%= format_price(@basket.products_price) %></span>
<div class="line"></div>
<p><%= t("activerecord.attributes.basket.other") %></p><span><%= format_price(@basket.delivery_price) %></span>
<div class="line"></div>
<p><%= t("activerecord.attributes.basket.total") %></p><span><%= format_price(@basket.total_price) %></span>
