<div class="title_magazine title_basket">
  <p><%= t("activerecord.attributes.basket.title") %></p>
</div>

<% @basket.items.each_with_index do |basket_item, i| %>
    <%= render "products/product_basket_item", :basket_item => basket_item, :cat_item => true, :margin_top => false, :container_class => (i+1)%3 == 0 ? "no_margin" : "" %>
<% end %>

<div class="sidebar">
  <div id="order-price" class="basket">
    <%= render "basket/order_price" %>
  </div>

  <div class="block">
    <p><%= t("activerecord.attributes.order.info") %></p>
  </div>

  <div id="order">
    <%= render "orders/form_basket" %>
  </div>

</div>
