                                                                                                                                                                                                               <div class="title_magazine title_basket">
  <p><%= t("activerecord.attributes.basket.title") %></p>
</div>

<div class="center my_basket">
  <% @basket.items.each_with_index do |basket_item| %>
      <%= render "products/product_basket_item", :basket_item => basket_item, :cat_item => true, :margin_top => false, :container_class => "" %>
  <% end %>

  <%= content_tag "ol", raw(t("activerecord.attributes.basket.empty")) if @basket.items.empty? %>
</div>

<div class="sidebar">
  <div id="order-price" class="basket <%= "hidden" if @basket.products_count == 0 %>">
    <%= render "basket/order_price" %>
  </div>

  <div class="block">
    <p><%= t("activerecord.attributes.order.info") %><br/></p><br/>
  </div>

  <div id="order">
    <%= render "orders/form_basket" %>
  </div>

</div>
