<%= form_for(@welcome, :html => {:multipart => true}) do |f| %>
    <% if @welcome.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@welcome.errors.count, "error") %> prohibited this welcome from being saved:</h2>

          <ul>
            <% @welcome.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>

    <div class="field welcome-description">
      <%= f.label :description %>
      <center>
        <%= image_tag "logos/fy7-small.png" %>
        <br/>
      </center>
      <%= f.text_area :description, :class => "span" %>

    </div>
    <div class="field">
      <%= f.label :mail %>
      <br/>
      <%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <br/>
      <%= f.text_field :phone %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script language="javascript">
    $(document).ready(function () {
        $("#welcome_description").markItUp(mySettings);
    })
</script>