<%= meta_tags @welcome %>

<div class="center">
  <%= render "welcomes/slider", :target => @top_slider unless @top_slider.empty? %>

  <div class="column">
    <%= render "products/product_top_preview_item", :image_height => :small, :product => @about_left unless @about_left.nil? %>
    <%= render "products/product_top_preview_item", :image_height => :normal, :product => @about_bottom.first unless @about_bottom.empty? %>
  </div>
  <div class="column column_second">
    <%= render "welcomes/inside" %>
    <%= render "products/product_top_preview_item", :image_height => :big, :product => @about_bottom.last unless @about_bottom.empty? %>
  </div>
  <div class="clear"></div>

  <div id="full_list">
    <%= render "products/product_big_preview_item", :product => @bottom_slider[rand(@bottom_slider.size)] unless @bottom_slider.empty? %>
    <%= render "products/product_preview_item", :product => @last[rand(@last.size)] %>
    <%= render "products/product_preview_item", :product => @last[rand(@last.size)] %>

    <nav id="page-nav">
      <%= link_to "next page", all_products_by_page_path(2), :remote => true %>
    </nav>
  </div>
</div>

<%= render "welcomes/side_bar" %>