<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @static.title %>
</p>

<p>
  <b>Short url:</b>
  <%= @static.short_url %>
</p>

<p>
  <b>Content:</b>
  <%= @static.content %>
</p>


<%= link_to 'Edit', edit_static_path(@static) %>