<%= form_for(@animation, :builder => StarsFormBuilder, :html => {:multipart => true}) do |f| %>
    <% if @animation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@animation.errors.count, "error") %> prohibited this animation from being saved:</h2>

          <ul>
            <% @animation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :preview_id %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :animation_type %>
      <br/>
      <%= f.collection_select(:animation_type, AnimationType.collection, :code, :name, :prompt => true) %>
    </div>

    <% AnimationType.get_actual_models_list.each do |model| %>
        <div class="field option_code animation_type_<%= model.code %> <%= 'option_code_current' if !@animation.new_record? && model.code == @animation.animation_type %>">
          <%= label :option_code, model.model_name.to_sym %>
          <br/>
          <% if model.code == 2 %>
              <%= collection_select(:option_code, model.model_name.to_sym, model.model_name.camelize.constantize.all, :id, :title, {}, :onchange => '$("#animation_option_code").val($(this).val())') %>
          <% else %>
              <%= collection_select(:option_code, model.model_name.to_sym, model.model_name.camelize.constantize.collection, :code, :name, {}, :onchange => '$("#animation_option_code").val($(this).val())') %>
          <% end %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :fps %>
      <br/>
      <%= @animation.fps.nil? ? f.number_field(:fps, :value => 12) : f.number_field(:fps) %>
    </div>

    <div class="field">
      <%= f.label :frame_count %>
      <br/>
      <%= f.number_field :frame_count %>
    </div>

    <div class="field">
      <%= f.label :eq_start %>
      <br/>
      <%= f.number_field :eq_end %>
    </div>

    <div class="field">
      <%= f.label :eq_end %>
      <br/>
      <%= f.number_field :eq_end %>
    </div>

    <div class="field float_wrap">
      <%= f.label :audio %>
      <br/>
      <%= render :partial => 'service_layouts/files_upload', :locals => {:parent => @animation,
                                                                         :model_name => "animation_audio",
                                                                         :init_uploader => true,
                                                                         :marker => nil,
                                                                         :has_image => false,
                                                                         :hidden => false} %>
    </div>

    <div class="field">
      <%= f.label :screen_code %>
      <br/>
      <%= f.collection_select(:screen_code, ScreenCode.collection, :code, :name, :prompt => true) %>
    </div>

    <div class="field float_wrap">
      <%= render :partial => 'service_layouts/files_upload', :locals => {:parent => @animation,
                                                                         :model_name => "animation_image",
                                                                         :init_uploader => false,
                                                                         :marker => "screen_code",
                                                                         :has_image => true,
                                                                         :hidden => true} %>
    </div>

    <%= f.hidden_field :preview_id %>

    <%= f.hidden_field :option_code %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script type="text/javascript">
    $("#animation_animation_type").change(function () {
        animation_type_code = $(this).val();
        $("#animation_option_code").val("");
//        $(".option_code_all").hide();
        $(".option_code").hide();
        $(".animation_type_" + animation_type_code).show();
    });

    $("#animation_screen_code").change(function () {
        marker = $("#animation_screen_code").val();
        if (marker != undefined && marker != '') {
            createUploader();
            $(".attache_hidden").hide();
            $(".marker_" + marker).show();
        } else {
            $(".attache_hidden").hide();
            $("#file-uploader-animation_image > .qq-uploader").remove();
        }
    });
</script>