<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :short_url %>
      <br/>
      <%= f.text_field :short_url %>
    </div>
    <div class="field">
      <%= f.label :author_id %>
      <br/>
      <% if @post.new_record? %>
          <%= f.collection_select(:author_id, User.all, :id, :email, :value => current_user.id, :promt => false) %>
      <% else %>
          <%= f.collection_select(:author_id, User.all, :id, :email, :promt => false) %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :created_at %>
      <br/>
      <%= f.date_select :created_at %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
