<style type="text/css">
    @font-face {
        font-family: "coverMagazineTitle";
        font-style: normal;
        font-weight: 400;
        src: url("<%= target.title_font_data %>");
    }
</style>

<div class="block list_preview">
  <div class="magazine_cover">
    <%= image_tag target.get_cover.image.url(:album_normal), :alt => target.title, :class => "magazine_cover_background" unless target.main_article.nil? %>
    <div class="magazine_cover_title" style="<%= raw target.title_html_data %>">
      <%= raw target.title %>
    </div>
    <div class="magazine_cover_subject" style="<%= raw target.subject_html_data %>">
      <%= raw target.subject %>
    </div>
    <div class="magazine_cover_special" style="<%= raw target.special_html_data %>">
      <%= raw target.special %>
    </div>
    <div class="magazine_cover_columns" style="<%= raw target.columns_html_data %>">
      <%= raw target.columns %>
    </div>
  </div>
</div>