<%= meta_tags (@post) %>

<%= image_tag @post.get_cover.image.url(:big), :alt => @post.get_cover.title, :class => "big_img" %>
<div class="center_item">
  <div class="main">
    <h1><%= @post.title %></h1>

    <div class="date"><%= raw "— #{@post.author.full_name}, " %><%= Russian::strftime(@post.created_at, "%d %B") %></div>
    <span>
      <%= @post.description %>
    </span>
    <%= render "posts/slider", :target => @post.post_images if @post.post_images.size > 1 %>
    <%= raw @post.content %>
  </div>

  <%= render "service_partial/social_panel", :target_url => magazine_post_path(@post.short_url) %>
  <%= render "service_partial/fb_comments", :target_url => magazine_post_path(@post.short_url) %>
</div>

<%= render "posts/side_bar", :articles => @articles_side_bar, :products => @shop_side_bar %>
