<%= image_tag @post.post_images.first.image.url(:big), :alt => @post.post_images.first.title, :class => "big_img" %>
<div class="center_item">
  <div class="main">
    <%= link_to '+Edit', edit_post_path(@post) %> <%= link_to '-Destroy', @post, confirm: 'Are you sure?', method: :delete %>

    <h1><%= @post.title %></h1>

    <div class="date"><%= raw "— #{@post.author.author_name}, " %><%= Russian::strftime(@post.created_at, "%d %B") %></div>
    <span>
      <%= @post.description %>
    </span>

    <%= image_tag @post.post_images.first.image.url(:album_normal), :alt => @post.post_images.first.title, :class => "big_img" %>

    <%= raw @post.content %>

  </div>

  <div class="social-panel">
    <%= render "service_partial/social_panel", :target => @post %>
  </div>

  <div class="fb-comments">
    <%= render "service_partial/fb_comments" %>
  </div>

</div><!--end center_item-->
<%= render "posts/side_bar" %>
