<%= image_tag @post.post_images.first.image.url(:big), :alt => @post.post_images.first.title, :class => "big_img" if @post.post_images.size > 0 %>
<div class="center_item">
  <div class="main">
    <h1><%= @post.title %></h1>

    <div class="date"><%= raw "— #{@post.author.full_name}, " %><%= Russian::strftime(@post.created_at, "%d %B") %></div>
    <span>
      <%= @post.description %>
    </span>

    <%= render "posts/slider", :target => @post.post_images if @post.post_images.size > 1 %>

    <%#= image_tag @post.post_images.last.image.url(:album_normal), :alt => @post.post_images.first.title, :class => "big_img" if @post.post_images.size > 0  %>

    <%= raw @post.content %>
  </div>

  <div class="social-panel">
    <%= render "service_partial/social_panel", :target => @post %>
  </div>

  <div class="fb-comments">
    <%= render "service_partial/fb_comments", :target => @post %>
  </div>

</div><!--end center_item-->
<%= render "posts/side_bar", :articles => @articles_side_bar, :products => @shop_side_bar %>
