<%= form_for(@section_category) do |f| %>
  <% if @section_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_category.errors.count, "error") %> prohibited this section_category from being saved:</h2>

      <ul>
      <% @section_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :shop_section_id %><br />
    <%= f.collection_select :shop_section_id, ShopSection.all, :id, :name, :promt => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
