<%= form_for(@product, :html => {:multipart => true}) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <label><span>*</span><%= t("activerecord.attributes.product.title") %></label>
      <%= f.text_area :title, :class => "title" %>
    </div>

    <div class="field product_selects">
      <%= f.label :title_color %>
      <%= f.collection_select(:title_color, MyColor.collection, :code, :name) %>

      <%= f.label :brand_id %>
      <%= f.collection_select(:brand_id, Brand.all, :id, :name, {:include_blank => "не установлен"}) %>

      <%= f.label :shop_section_id %>
      <%= f.collection_select(:shop_section_id, ShopSection.all, :id, :name, {:include_blank => "не установлен"}) %>

      <%= f.label :section_category_id %>
      <%= f.collection_select(:section_category_id, SectionCategory.all, :id, :name, {:include_blank => "не установлен"}) %>

      <br/>
      <br/>
      <br/>

      <%= f.label :sex_id %>
      <%= f.collection_select(:sex_id, Sex.collection, :code, :name, {:include_blank => "не установлен"}) %>

      <%= f.label :career_id %>
      <%= f.collection_select(:career_id, Career.collection, :code, :name, {:include_blank => "не установлен"}) %>

      <%= f.label :welcome_position_id %>
      <%= f.collection_select(:welcome_position_id, WelcomePosition.collection, :code, :name, {:include_blank => "не установлен"}) %>
    </div>

    <div class="field">
      <label><span>*</span><%= t("activerecord.attributes.product.description") %></label>
      <%= f.text_area :description, :class => "product_description" %>
    </div>

    <div class="field">
      <label><span>*</span><%= t("activerecord.attributes.product.price") %></label>
      <%= f.text_field :price, :class => "price" %>
    </div>

    <div class="field">
      <%= f.label :color %>
      <br/>
      <%= f.text_field :color %>
    </div>
    <div class="field">
      <%= f.label :composition %>
      <br/>
      <%= f.text_field :composition %>
    </div>
    <!--<div class="field">-->
    <%#= f.label :look_id %>
    <!--<br />-->
    <%#= f.collection_select(:look_id, Look.all, :id, :title, :promt => true) %>
    <!--</div>-->
    <div class="field">
      <%= f.label :season %>
      <br/>
      <%= f.text_field :season %>
    </div>

    <div class="field product_sizes">
      <%= f.label :size %><br/>
      <%= product_sizes(@product) %>
      <div class="clear"></div>
    </div>

    <div class="field">
      <%= render :partial => 'product_images/files_upload', :locals => {:product => @product} %>
    </div>

    <div class="clear"></div>

    <%= f.hidden_field :preview_id %>

    <div class="actions">
      <br/>
      <%= f.submit %>
    </div>
<% end %>
