<div class="cat <%= "new" if margin_top %> <%= "cat_item" unless cat_item.nil? %> <%= container_class unless container_class.nil? %>">
  <%= link_to image_tag("3.jpg", :alt => product.title, :width => 300, :height => 370), product, :class => "link_img" %>
  <%= link_to product.title, product, :class => "title" %>
  <span><%= product.price %>p.</span>
</div>