<div class="center_item">
  <div class="main noborder">
    <h1><%= t("activerecord.attributes.product.import_results") %></h1>
    <span>
      <%= raw "#{@wear_imported} #{t("activerecord.attributes.product.addet_to_shop_section")} Одежда<br/>" if @wear_imported > 0 %>
      <%= raw "#{@gear_imported} #{t("activerecord.attributes.product.addet_to_shop_section")} Снаряжение<br/>" if @gear_imported > 0 %>
      <%= raw "#{@equipment_imported} #{t("activerecord.attributes.product.addet_to_shop_section")} Экипировка<br/>" if @equipment_imported > 0 %>
      <%= raw t("activerecord.attributes.product.import_ok_message") if @equipment_imported > 0 || @wear_imported > 0 || @gear_imported > 0 %>
      <%= raw t("activerecord.attributes.product.import_fail_message") if @equipment_imported == 0 && @wear_imported == 0 && @gear_imported == 0 %>
    </span>
  </div>
</div>

<%= render "statics/side_bar", :articles => @articles_side_bar, :products => @shop_side_bar %>