<div id="<%= "post_image_#{target.id}" %>" class="image-upload-preview">
  <div class="preview_params">
    <%= link_to "", crop_post_image_path(target.id), :class => "crop_action", :title => t('backend.actions.crop'), :remote => true %>
    <%= link_to "", post_image_path(:id => target.id, :authenticity_token => form_authenticity_token), :class => "destroy_action", :title => t('backend.actions.destroy'), :confirm => "Вы уверены?", :method => :delete, :remote => true %>
    <div class="clear"></div>
    <br/>

    <%= label :cover, "Обложка" %>
    <br/>
    <%= check_box_tag :cover, target.cover, target.cover, :class => "upload_cover", :onchange => "updateStuffImage(#{target.id}, 'post')" %>
    <div class="clear"></div>

    <%= label :preview, "Превью (список)" %>
    <br/>
    <%= check_box_tag :preview, target.preview, target.preview, :class => "upload_preview", :onchange => "updateStuffImage(#{target.id}, 'post')" %>
  </div>

  <%= hidden_field_tag :post_id, target.post_id, :class => "upload_post_id" %>
  <%= image_tag target.image.url(:preview_item), :class => "upload_preview" %>
  <br/>
  <%= label :title, "Заголовок фото" %>
  <br/>
  <%= text_field_tag :title, target.title, :class => "upload_title", :onkeyup => "updateStuffImage(#{target.id}, 'post')" %>
</div>