<h1>Listing post_images</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Title</th>
    <th>Cover</th>
    <th>Image file name</th>
    <th>Image content type</th>
    <th>Image file size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_images.each do |post_image| %>
  <tr>
    <td><%= post_image.post_id %></td>
    <td><%= post_image.title %></td>
    <td><%= post_image.cover %></td>
    <td><%= post_image.image_file_name %></td>
    <td><%= post_image.image_content_type %></td>
    <td><%= post_image.image_file_size %></td>
    <td><%= link_to 'Show', post_image %></td>
    <td><%= link_to 'Edit', edit_post_image_path(post_image) %></td>
    <td><%= link_to 'Destroy', post_image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post image', new_post_image_path %>
