<div class="menu-top">
  <% if can?(:manage, :all) %>
      <ul class="admin_menu">
        <%= admin_panel %>
      </ul>
      <div class="clear"></div>
  <% end %>
  <ul class="admin_menu">
    <% unless @basket.items.empty? %>
        <li class="title">
          <%= t("activerecord.attributes.admin_menu.price") %>
          <div class="basket">
              <%= content_tag "span", t("activerecord.attributes.admin_menu.small_info", :count => @basket.products_count, :price => format_price(@basket.products_price)) %>
          </div>
          <ul>
            <li><%= link_to "Оформить заказ", "/basket" %></li>
          </ul>
        </li>
    <% end %>

    <% unless @basket.last_items.empty? %>
        <li class="title stuff-title">
          <%= t("activerecord.attributes.admin_menu.last_viewed") %>
          <div class="last_viewed">
            <% @basket.last_items.each do |last_viewed| %>
                <%= render "products/product_small_preview_item", :product => last_viewed %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="about">
    <img src="/assets/logos/fy7-small.png" alt="Wear, Boards, Bikes">
  </div>

</div>