<div id="header">
  <!--<div id="parallax" >-->
    <%#= image_tag "logos/parallax/blue-center.png", :class => "parallax-layer" %>
    <%#= image_tag "logos/parallax/blue-left.png", :class => "parallax-layer" %>
    <%#= image_tag "logos/parallax/blue-right.png", :class => "parallax-layer" %>
    <%#= image_tag "logos/parallax/blue-top.png", :class => "parallax-layer" %>
  <!--</ul>-->

  <%= link_to "", root_url, :class => "logo #{LogoClass.class_by_controller(controller_name)}" %>
  <span class="<%= "logo_part #{LogoClass.class_by_controller(controller_name)}" %>"></span>


  <%= render "layouts/info" %>

  <%= render "layouts/admin_menu" if can?(:manage, :all) %>
  <%= render "layouts/basket" %>
  <div class="clear"></div>
  <%= render "layouts/menu" %>
</div>