<ul class="menu_left">
  <% @menu_left.each do |shop_section| %>
      <li class="<%= :current if shop_section == @shop_section %>">
        <%= link_to shop_section.name, shop_section_products_path(shop_section.short_url) %>
      </li>
  <% end unless @menu_left.empty? %>
</ul>

<ul class="menu_right">
  <% @menu_right.each do |item| %>
      <li class="<%= :current if item == @static %>">
        <%= link_to item.title, "/#{item.short_url}" %>
      </li>
  <% end unless @menu_right.empty? %>
</ul>
<div class="line"></div>

<% unless ["new", "edit"].include?(action_name) || @shop_section.nil? %>
    <ul class="sub_menu">
      <% if @shop_section.short_url != "brands" %>
          <li>
            <%= collection_select(:sex, :id, Sex.collection, :code, :name, {:include_blank => "Пол", :selected => (@user_settings["sex"])}, {:onchange => "setSex()"}) %>
          </li>
          <% if @shop_section.short_url != "wear" %>
              <li>
                <%= collection_select(:career, :id, Career.collection, :code, :name, {:include_blank => "Вид спорта", :selected => (@user_settings["career"])}, {:onchange => "setCareer()"}) %>
              </li>
          <% end %>
      <% end %>

      <% @shop_section.section_categories.each do |section_category| %>
          <li class="<%= :current if section_category == @section_category %>">
            <%= link_to section_category.name, section_category_products_path(@shop_section.short_url, section_category.short_url) %>
          </li>
      <% end unless @shop_section.section_categories.empty? %>

      <% @shop_section.empty_section_categories.each do |section_category| %>
          <li class="<%= :current if section_category == @section_category %>">
            <%= link_to "#{section_category.name}(0)", section_category_products_path(@shop_section.short_url, section_category.short_url) %>
          </li>
      <% end if current_user && current_user.admin? %>
    </ul>
<% end %>

<% if controller.controller_name == "brands" %>
    <ul class="sub_menu">
      <% if controller.action_name == "show" %>
          <li>
            <%= collection_select(:sex, :id, Sex.collection, :code, :name, {:include_blank => "Пол", :selected => (@user_settings["sex"])}, {:onchange => "setSex()"}) %>
          </li>
          <li>
            <%= collection_select(:career, :id, Career.collection, :code, :name, {:include_blank => "Вид спорта", :selected => (@user_settings["career"])}, {:onchange => "setCareer()"}) %>
          </li>
      <% end %>
      <% if controller.action_name == "index" || controller.action_name == "show" %>
          <li><a></a></li>
      <% end %>
    </ul>
<% end %>


