<ul class="menu_left">
  <% @menu_left.each do |shop_section| %>
      <% if !@shop_section.nil? && shop_section == @shop_section %>
          <li class="current">
            <%= link_to shop_section.name, shop_section_products_path(shop_section.short_url) %>

            <% if shop_section.section_categories.size > 0 %>
                <ul>
                  <% shop_section.section_categories.each do |section_category| %>
                      <li><%= link_to section_category.name, section_category_products_path(shop_section.short_url, section_category.short_url) %></li>
                  <% end %>
                </ul>
            <% end %>
          </li>
      <% else %>
          <li>
            <%= link_to shop_section.name, shop_section_products_path(shop_section.short_url) %>
          </li>
      <% end %>
  <% end %>
</ul>

<ul class="menu_right">
  <% @menu_right.each do |item| %>
      <li <%= "class='current'" if !@static.nil? && item == @static %>>
        <%= link_to item.title, "/#{item.short_url}" %>
      </li>
  <% end %>
</ul>

<div class="line"></div>

<%= render "layouts/admin_menu" if can?(:manage, :all)%>